input {
    border-radius: 3px;
    border: none;
  }
  .headd>input:focus-visible{
    outline:2px solid #ce1440;


  }
  button:focus-visible{
    outline: 3px solid #ce1440;
  }

  .tofo{
    background-color: #784b84;
  }
.editing{
  background-color: yellow;
 
}
::-webkit-scrollbar{
  display: none;
}
